.admin-welcome-box {
    background: linear-gradient(135deg, #4f5c81, #1cc88a);
    color: white;
    padding: 1.5rem;
    border-radius: 12px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .welcome-box h2 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .welcome-box h2 span {
    font-weight: bold;
    color: #f8f9fc;
  }
  
  .welcome-box p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
/* role box css */
.role-badge {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 120px;
    height: 120px;
    background: linear-gradient(135deg, #688af0, #2c5345);
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    animation: bounce 2s ease infinite;
  }
  .role-car{
padding: 2px;
background-color: transparent;
  }
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  
  
  .status-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 2rem;
    padding: 1rem;
  }
  
  .status-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: rgba(67, 83, 97, 0.4) 5px 5px, rgba(97, 83, 92, 0.3) 10px 10px, rgba(40, 48, 58, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .status-card:hover {
    transform: translateY(-5px);
  }
  
  .status-card h4 {
    margin: 0.5rem 0;
    color: #444;
  }
  
  .status-card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }
  /* css for charts  */
  .charts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .chart-box {
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  