.footer {

  align-items: center;
  justify-content: space-between;
  background-color: rgb(134, 146, 146);
  height: auto;
  padding: 20px;
  width: 100%;
  bottom: 0%;
  margin-top: 5%;
  z-index: 1000;
    
  }
  .footer-content p{
    text-align: center;
    font-size: 25px;
    color: #0a0a0a;
    font-weight: 800;
  }

  .footer-logo p {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: 700;
  }
  
.footer-data{
  display: flex;
  gap: 10rem;
}
  
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: white;
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 5px;
    height: 2px; /* Adjust height as needed */
    background: #c7c7c7;
  }
  @media (min-width: 601px) and (max-width: 800px) {
    .footer{
      width: 100%;
     }
  }
 
  @media (min-width: 300px) and (max-width: 600px) {
    /* CSS rules here */
    .footer-data{
     display: contents;
    }
  }
