.admin-dashboard {
  width: 100%;
  height:auto;

  }
  .Admincontent{
    height: auto;
    width: 85%; 
    height: auto;
    justify-content: space-between;
    padding: 40px 10px 0px 0px;
    margin-left: 16%;

  }
  .add-new-user-btn{
    font-size: 16px;
  
  }
  .menu-toggle{
    position: fixed;
  }
  @media (min-width: 601px) and (max-width: 800px) {

    .admin-dashboard {
      width: 100%; /* Full width on small screens **/
      margin-left: 0rem; 
      margin-top: 0%;
      position: absolute;
    }
  
    .Admincontent-page {
        width: 100%;
        position: absolute;
        margin-top: 0rem;
        margin-left: 0rem;
        padding:0;
    }
    .Admincontent{
      width: 100%;
      margin-top: 2rem;
      margin-left: 0rem;
      padding: 10px;
    }
  }
 

@media (min-width: 300px) and (max-width: 600px) {

  .admin-dashboard {
    width:100%; /* Full width on small screens **/
    margin-left:0; 
    margin-top: 0%;
 
 
  }

  .Admincontent-page {
      width:100%;
      margin-top: 0;
      margin-left: 0;
  }
  .Admincontent{
    width: 100%;
    margin-top: 2rem;
    margin-left: 0rem;
    padding: 10px;
  }
}
