.admin-dashboard {
  width: 100%;
  height:auto;

  }
  .Admincontent{
    height: auto;
    width: 88%; 
    height: auto;
    justify-content: space-between;
    padding: 100px 10px 0px 0px;
    margin-left: 17.5%;

  }
  .add-new-user-btn{
    font-size: 16px;
  
  }
  .menu-toggle{
    position: fixed;
  }

  /***********responsiving on small devices*****************/
  @media (min-width: 601px) and (max-width: 800px) {

    .admin-dashboard {
      width: 100%; /* Full width on small screens **/
      background-color: #007bff;
      margin-left: 0rem; 
      margin-top: 0%;
      position: absolute;
    }
  
    .Admincontent-page {
        width: 100%;
        position: absolute;
        margin-top: 0rem;
        margin-left: 0rem;
        padding: 10px;
    }
  
  }
  


@media (min-width: 300px) and (max-width: 600px) {

  .admin-dashboard {
    width:100%; /* Full width on small screens **/
    background-color: #007bff;
    margin-left:0; 
    margin-top: 0%;
 
 
  }

  .Admincontent-page {
      width:100%;
      margin-top: 0;
      margin-left: 0;
  }

}
